@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.vertical-text {
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.violet-bg {
  background: rgb(36, 0, 27);
  background: linear-gradient(
    122deg,
    rgba(36, 0, 27, 1) 0%,
    rgba(92, 8, 80, 1) 45%,
    rgba(92, 0, 108, 1) 100%
  );
}
